# Evaluate Algorithms
This notebook is the final evaluator for different algorithms and how they perform against a random and human benchmark.

In [2]:
# imports
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# load human benchmark data
human_df = pd.read_csv("../data/human_benchmark.csv", header=None, names=["score"])
human_df.head(10)

   score
0     31
1     33
2     28
3     19
4     28
5     37
6     20
7     21
8     27
9     24